n8n/workflows/csv-upload-workflow.json
{
  "name": "Bizware CSV Upload Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-csv",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "upload-csv"
    },
    {
      "parameters": {
        "jsCode": "// Extract report type and rename binary field from 'file' to 'data'\nconst reportType = $input.first().json.query?.report_type || $input.first().json.headers?.['x-report-type'];\n\nif (!reportType) {\n  throw new Error('Missing report_type parameter');\n}\n\nconst configs = {\n  accounts_payable: {\n    rawTable: 'raw.raw_accounts_payable',\n    curatedTable: 'curated.accounts_payable',\n    pkColumns: ['company_code', 'document_number', 'fiscal_year', 'item'],\n    columnMap: {\n      'Company Code': 'company_code',\n      'Document Number': 'document_number',\n      'Fiscal Year': 'fiscal_year',\n      'Posting Date': 'posting_date',\n      'Vendor': 'vendor',\n      'MSME': 'msme',\n      'Purchasing Document': 'purchasing_document',\n      'Item': 'item',\n      'PO Document Type': 'po_document_type',\n      'Internal Order': 'internal_order',\n      'Debit/Credit': 'debit_credit',\n      'Local Amount': 'local_amount',\n      'Currency': 'currency'\n    },\n    dateColumns: ['posting_date'],\n    numericColumns: ['local_amount'],\n    intColumns: ['fiscal_year']\n  },\n  bank_report: {\n    rawTable: 'raw.raw_bank_report',\n    curatedTable: 'curated.bank_report',\n    pkColumns: ['gl_account'],\n    columnMap: {\n      'G/L Account': 'gl_account',\n      'Short Text': 'short_text',\n      'Long Text': 'long_text',\n      'Balance': 'balance'\n    },\n    dateColumns: [],\n    numericColumns: ['balance'],\n    intColumns: []\n  },\n  budget_report: {\n    rawTable: 'raw.raw_budget_report',\n    curatedTable: 'curated.budget_report',\n    pkColumns: ['year', 'group_name', 'income_group', 'zmonth'],\n    columnMap: {\n      'Year': 'year',\n      'GROUP': 'group_name',\n      'INCOME_GROUP': 'income_group',\n      'ZMONTH': 'zmonth',\n      'BUDGET_CR': 'budget_cr'\n    },\n    dateColumns: [],\n    numericColumns: ['budget_cr'],\n    intColumns: ['year']\n  },\n  sales_register: {\n    rawTable: 'raw.raw_sales_register',\n    curatedTable: 'curated.sales_register',\n    pkColumns: ['invoice_no'],\n    columnMap: {\n      'Invoice No': 'invoice_no',\n      'Billing Type': 'billing_type',\n      'Billing Type description': 'billing_type_description',\n      'Invoice Date': 'invoice_date',\n      'Bill To': 'bill_to',\n      'Bill To Name': 'bill_to_name',\n      'Fiscal Year': 'fiscal_year',\n      ' Total': 'total'\n    },\n    dateColumns: ['invoice_date'],\n    numericColumns: ['total'],\n    intColumns: ['fiscal_year']\n  }\n};\n\nconst config = configs[reportType];\nif (!config) {\n  throw new Error(`Unknown report_type: ${reportType}. Valid types: ${Object.keys(configs).join(', ')}`);\n}\n\nconst inputItem = $input.first();\n\n// Rename binary field: n8n webhook receives it as 'file' (from multer),\n// but the Spreadsheet File node expects 'data' by default\nconst newBinary = {};\nif (inputItem.binary) {\n  const keys = Object.keys(inputItem.binary);\n  if (keys.length > 0) {\n    newBinary.data = inputItem.binary[keys[0]];\n  }\n}\n\nreturn [{\n  json: {\n    reportType,\n    config,\n    startedAt: new Date().toISOString()\n  },\n  binary: newBinary\n}];"
      },
      "id": "set-config",
      "name": "Set Report Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "operation": "fromFile",
        "options": {}
      },
      "id": "parse-csv",
      "name": "Parse CSV",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "jsCode": "// Pure JS SHA256 - n8n sandbox blocks require('crypto')\nfunction sha256(msg) {\n  function rr(v, a) { return (v >>> a) | (v << (32 - a)); }\n  const K = [0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2];\n  let H = [0x6a09e667,0xbb67ae85,0x3c6ef372,0xa54ff53a,0x510e527f,0x9b05688c,0x1f83d9ab,0x5be0cd19];\n  const bytes = [];\n  for (let i = 0; i < msg.length; i++) {\n    const c = msg.charCodeAt(i);\n    if (c < 128) bytes.push(c);\n    else if (c < 2048) { bytes.push(192|(c>>6)); bytes.push(128|(c&63)); }\n    else { bytes.push(224|(c>>12)); bytes.push(128|((c>>6)&63)); bytes.push(128|(c&63)); }\n  }\n  const bitLen = bytes.length * 8;\n  bytes.push(0x80);\n  while (bytes.length % 64 !== 56) bytes.push(0);\n  for (let i = 56; i >= 0; i -= 8) bytes.push((bitLen / Math.pow(2, i)) & 0xff);\n  for (let off = 0; off < bytes.length; off += 64) {\n    const w = new Array(64);\n    for (let i = 0; i < 16; i++) w[i] = (bytes[off+i*4]<<24)|(bytes[off+i*4+1]<<16)|(bytes[off+i*4+2]<<8)|bytes[off+i*4+3];\n    for (let i = 16; i < 64; i++) {\n      const s0 = rr(w[i-15],7)^rr(w[i-15],18)^(w[i-15]>>>3);\n      const s1 = rr(w[i-2],17)^rr(w[i-2],19)^(w[i-2]>>>10);\n      w[i] = (w[i-16]+s0+w[i-7]+s1)|0;\n    }\n    let [a,b,c,d,e,f,g,h] = H;\n    for (let i = 0; i < 64; i++) {\n      const S1 = rr(e,6)^rr(e,11)^rr(e,25);\n      const ch = (e&f)^(~e&g);\n      const t1 = (h+S1+ch+K[i]+w[i])|0;\n      const S0 = rr(a,2)^rr(a,13)^rr(a,22);\n      const maj = (a&b)^(a&c)^(b&c);\n      const t2 = (S0+maj)|0;\n      h=g;g=f;f=e;e=(d+t1)|0;d=c;c=b;b=a;a=(t1+t2)|0;\n    }\n    H=[H[0]+a|0,H[1]+b|0,H[2]+c|0,H[3]+d|0,H[4]+e|0,H[5]+f|0,H[6]+g|0,H[7]+h|0];\n  }\n  return H.map(v=>(v<0?v+0x100000000:v).toString(16).padStart(8,'0')).join('');\n}\n\nconst configItem = $('Set Report Config').first().json;\nconst { config, reportType } = configItem;\nconst rows = $input.all();\n\n// --- Helper functions ---\nfunction escapeSql(val) {\n  if (val === null || val === undefined) return 'NULL';\n  const str = String(val);\n  return \"'\" + str.replace(/'/g, \"''\") + \"'\";\n}\n\nfunction parseTrailingMinus(val) {\n  if (val === null || val === undefined || val === '') return null;\n  let str = String(val).trim();\n  if (str === '') return null;\n  if (str.endsWith('-')) {\n    str = '-' + str.slice(0, -1);\n  }\n  str = str.replace(/,/g, '').trim();\n  const num = parseFloat(str);\n  return isNaN(num) ? null : num;\n}\n\nfunction parseDateYYYYMMDD(val) {\n  if (!val) return null;\n  const str = String(val).trim();\n  if (str.length !== 8) return null;\n  const y = str.substring(0, 4);\n  const m = str.substring(4, 6);\n  const d = str.substring(6, 8);\n  return `${y}-${m}-${d}`;\n}\n\n// --- Normalize all rows ---\nconst normalizedRows = [];\nfor (const row of rows) {\n  const mapped = {};\n  for (const [csvCol, dbCol] of Object.entries(config.columnMap)) {\n    let val = row.json[csvCol];\n    if (val !== undefined && val !== null) {\n      val = String(val).trim();\n    }\n    if (config.dateColumns.includes(dbCol)) {\n      val = parseDateYYYYMMDD(val);\n    } else if (config.numericColumns.includes(dbCol)) {\n      val = parseTrailingMinus(val);\n    } else if (config.intColumns.includes(dbCol)) {\n      val = val ? parseInt(String(val).trim(), 10) : null;\n      if (isNaN(val)) val = null;\n    }\n    mapped[dbCol] = (val === '' || val === undefined) ? null : val;\n  }\n  // Pure JS SHA256 hash for change detection\n  const sortedKeys = Object.values(config.columnMap).sort();\n  const hashInput = sortedKeys.map(k => String(mapped[k] ?? '')).join('|');\n  mapped.row_hash = sha256(hashInput);\n  normalizedRows.push(mapped);\n}\n\n// --- Build SQL with inline values (no parameterized queries) ---\nconst dbColumns = [...Object.values(config.columnMap), 'row_hash'];\nconst pkCols = config.pkColumns.join(', ');\nconst allCols = dbColumns.join(', ');\n\nconst updateCols = dbColumns\n  .filter(c => !config.pkColumns.includes(c) && c !== 'row_hash')\n  .map(c => `${c} = EXCLUDED.${c}`)\n  .join(', ');\n\n// Build VALUES clause with inline escaped values\nconst valueRows = [];\nfor (const row of normalizedRows) {\n  const vals = dbColumns.map(col => {\n    const v = row[col];\n    if (v === null || v === undefined) return 'NULL';\n    if (typeof v === 'number') return String(v);\n    return escapeSql(v);\n  });\n  valueRows.push(`(${vals.join(', ')})`);\n}\n\nconst valuesClause = valueRows.join(',\\n    ');\n\nconst rawSql = `INSERT INTO ${config.rawTable} (${allCols})\n    VALUES ${valuesClause}\n    ON CONFLICT (${pkCols}) DO UPDATE SET ${updateCols}, row_hash = EXCLUDED.row_hash\n    WHERE ${config.rawTable}.row_hash != EXCLUDED.row_hash`;\n\nconst curatedSql = `INSERT INTO ${config.curatedTable} (${allCols})\n    VALUES ${valuesClause}\n    ON CONFLICT (${pkCols}) DO UPDATE SET ${updateCols}, row_hash = EXCLUDED.row_hash\n    WHERE ${config.curatedTable}.row_hash != EXCLUDED.row_hash`;\n\nreturn [{\n  json: {\n    rawSql,\n    curatedSql,\n    rowCount: normalizedRows.length,\n    reportType\n  }\n}];"
      },
      "id": "process-build-sql",
      "name": "Process & Build SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.rawSql }}",
        "options": {}
      },
      "id": "upsert-raw",
      "name": "UPSERT Raw Table",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1100, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Bizware PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $('Process & Build SQL').first().json.curatedSql }}",
        "options": {}
      },
      "id": "upsert-curated",
      "name": "UPSERT Curated Table",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1320, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Bizware PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const configItem = $('Set Report Config').first().json;\nconst { reportType, startedAt } = configItem;\nconst processNode = $('Process & Build SQL').first().json;\nconst rowCount = processNode.rowCount;\nconst completedAt = new Date().toISOString();\nconst duration = new Date(completedAt) - new Date(startedAt);\n\n// Build audit SQL with inline values (no parameters)\nfunction esc(val) {\n  if (val === null || val === undefined) return 'NULL';\n  return \"'\" + String(val).replace(/'/g, \"''\") + \"'\";\n}\n\nconst auditSql = `INSERT INTO audit.upload_audit (report_type, file_name, rows_total, rows_inserted, rows_updated, rows_unchanged, upload_status, started_at, completed_at, duration_ms) VALUES (${esc(reportType)}, ${esc(reportType + '_upload')}, ${rowCount}, ${rowCount}, 0, 0, 'success', ${esc(startedAt)}, ${esc(completedAt)}, ${duration})`;\n\nconst response = {\n  status: 'success',\n  report_type: reportType,\n  rows_processed: rowCount,\n  duration_ms: duration,\n  timestamp: completedAt\n};\n\nreturn [{\n  json: {\n    auditSql,\n    response\n  }\n}];"
      },
      "id": "prepare-audit",
      "name": "Prepare Audit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.auditSql }}",
        "options": {}
      },
      "id": "write-audit",
      "name": "Write Audit Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1760, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Bizware PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Prepare Audit').first().json.response) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1980, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'error', message: $json.error?.message || 'Processing failed', timestamp: new Date().toISOString() }) }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1320, 560]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"INSERT INTO audit.error_log (report_type, file_name, error_type, error_message, error_detail) VALUES ('unknown', 'unknown', 'workflow_error', '\" + ($json.error?.message || 'Unknown error').replace(/'/g, \"''\") + \"', '\" + ($json.error?.stack || '').replace(/'/g, \"''\") + \"')\" }}",
        "options": {}
      },
      "id": "log-error",
      "name": "Log Error to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1100, 560],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Bizware PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          { "node": "Set Report Config", "type": "main", "index": 0 }
        ]
      ]
    },
    "Set Report Config": {
      "main": [
        [
          { "node": "Parse CSV", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse CSV": {
      "main": [
        [
          { "node": "Process & Build SQL", "type": "main", "index": 0 }
        ]
      ]
    },
    "Process & Build SQL": {
      "main": [
        [
          { "node": "UPSERT Raw Table", "type": "main", "index": 0 }
        ]
      ]
    },
    "UPSERT Raw Table": {
      "main": [
        [
          { "node": "UPSERT Curated Table", "type": "main", "index": 0 }
        ]
      ]
    },
    "UPSERT Curated Table": {
      "main": [
        [
          { "node": "Prepare Audit", "type": "main", "index": 0 }
        ]
      ]
    },
    "Prepare Audit": {
      "main": [
        [
          { "node": "Write Audit Log", "type": "main", "index": 0 }
        ]
      ]
    },
    "Write Audit Log": {
      "main": [
        [
          { "node": "Success Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Log Error to DB": {
      "main": [
        [
          { "node": "Error Response", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    { "name": "production" },
    { "name": "csv-upload" },
    { "name": "bizware" }
  ],
  "triggerCount": 1,
  "pinData": {}
}
